body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover { 
    color: rgb(8, 193, 8);
    text-decoration: none;
    transition-duration: 0.4s;
}                           

#profileimg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(8, 193, 8);
}

div {
    text-align: center;
}

h1 {
    text-align: left;
    color: rgb(8, 193, 8);
    text-align: center;
}

section {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer img {
    width: 30px;
    height: 30px;
}

footer p {
   margin-top: 2px;
   text-align: center;
   font-size: 12px;
}
